.dockerignore @enzogaggiotti
Dockerfile @enzogaggiotti

.github @enzogaggiotti
pre-commit-config.yaml @enzogaggiotti

LICENSE @enzogaggiotti
README.md @Dev2Noe
docs @Dev2Noe

package.json @Dev2Noe
package-lock.json @Dev2Noe
public @Dev2Noe
eslint.config.js @Dev2Noe
index.html @Dev2Noe
tscconfig.json @Dev2Noe
tscconfig.app.json @Dev2Noe
tscconfig.node.json @Dev2Noe
vite.config.ts @Dev2Noe
src @Dev2Noe
nginx.conf @Dev2Noe
